<!DOCTYPE html>
<html class="no-js">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="/Content/favicon.ico">
    <title>Ahmet Can | @ViewBag.Title</title>
    <meta name="description" content="Ahmet Can">
    <meta name="keywords" content="Ahmet Can">
    <meta name="author" content="Ahmet Can">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Template CSS Files
    ================================================== -->
    <!-- Twitter Bootstrs CSS -->
    <link rel="stylesheet" href="/Content/plugins/bootstrap/bootstrap.min.css">
    <!-- Ionicons Fonts Css -->
    <link rel="stylesheet" href="/Content/plugins/ionicons/ionicons.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/Content/plugins/animate-css/animate.css">
    <!-- Hero area slider css-->
    <link rel="stylesheet" href="/Content/plugins/slider/slider.css">
    <!-- owl craousel css -->
    <link rel="stylesheet" href="/Content/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/Content/plugins/owl-carousel/owl.theme.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="/Content/plugins/facncybox/jquery.fancybox.css">
    <!-- template main css file -->
    <link rel="stylesheet" href="/Content/css/style.css">

    
</head>
<body>


    <header id="top-bar" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <div class="navbar-brand">
                    <a href="/Home/Index">
                        Ahmet Can
                    </a>
                </div>
                <!-- /logo -->
            </div>
            <!-- main menu -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <div class="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Home/Index">Anasayfa</a>
                        </li>
                        <li><a href="/Home/About">Hakkımda</a></li>
                        <li><a href="/Content/service.html">Service</a></li>
                        <li class="dropdown">
                            <a href="/Content/#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="/Content/404.html">404 Page</a></li>
                                    <li><a href="/Content/gallery.html">Gallery</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="/Content/#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="/Content/blog-fullwidth.html">Blog Full</a></li>
                                    <li><a href="/Content/blog-left-sidebar.html">Blog Left sidebar</a></li>
                                    <li><a href="/Content/blog-right-sidebar.html">Blog Right sidebar</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/Home/Contact">İletişim</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>

    @RenderBody()




    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">
                    Copyright: <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> Developed by <a href="https://cnahmetcn.github.io" target="_blank">Ahmet Can</a>. <br>
                    Daha Fazla
                    <a href="https://ahmetcancv.web.app" target="_blank">
                        Özgeçmişim
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <a href="https://twitter.com/cnahmetcn" target="_blank" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/cnahmetcn/" target="_blank" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/cnahmetcn" target="_blank" class="Linkedin">
                            <i class="ion-social-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer> <!-- /#footer -->
    <!-- Template Javascript Files
    ================================================== -->
    <!-- jquery -->
    <script src="/Content/plugins/jQurey/jquery.min.js"></script>
    <!-- Form Validation -->
    <script src="/Content/plugins/form-validation/jquery.form.js"></script>
    <script src="/Content/plugins/form-validation/jquery.validate.min.js"></script>
    <!-- owl carouserl js -->
    <script src="/Content/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- bootstrap js -->
    <script src="/Content/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="/Content/plugins/wow-js/wow.min.js"></script>
    <!-- slider js -->
    <script src="/Content/plugins/slider/slider.js"></script>
    <!-- Fancybox -->
    <script src="/Content/plugins/facncybox/jquery.fancybox.js"></script>
    <!-- template main js -->
    <script src="/Content/js/main.js"></script>

    @RenderSection("js", false)
</body>
</html>