
@{
    ViewData["Title"] = "Hakkımda";
}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Hakkımda</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="Index">
                                <i class="ion-ios-home"></i>
                                Anasayfa
                            </a>
                        </li>
                        <li class="active">Hakkımda</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/about.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Hakkımda</h3>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        6 Mayıs 1993 yılında Kayseri'de doğdum. İlkokul, Ortaokul ve Lise eğitimlerimi Kayseri' de tamamladım. Ardından Gümüşhane Üniversitesi'nde 2 yıllık Önlisans eğitimi olarak Bilgisayar
                        Programcılığı okudum. Daha sonra DGS sınavı ile Kayseri Erciyes Üniversitesi Bilgisayar Mühendisliğine geçiş yaptım ve buradan 2019 yılında mezun oldum.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                        Web alanında yaklaşık 2 yıllık bir deneyimim var. Bu 2 yıllık süre zarfında Php ve Laravel üzerinde profesyonel düzeyde çalıştım. Ayrıca ASP.NET, Flutter ve Python dillerinde kendimi
                        geliştirmek adına projeler gerçekleştiriyorum.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                <h2>
                    Hobilerim
                </h2>
                <ul>
                    <li>F1</li>
                    <li>Snooker</li>
                    <li>Uzay Bilimleri</li>
                    <li>Müzik / Film</li>
                    <li>Spor</li>
                </ul>
            </div>
            <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                <h2 class="item_title">
                    Yetkinliklerim
                </h2>
                <ul>
                    <li>Web Tasarım</li>
                    <li>MS Office</li>
                    <li>MVC</li>
                    <li>Responsive</li>
                    <li>Mobil Programlama</li>
                </ul>
            </div>
            <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
                    Sertifikalar
                </h2> 
                    <ul>
                        <li>Python</li>
                        <li>Data Science</li>
                        <li>Machine Learning</li>
                        <li>SQL</li>
                        <li>Neural Networks</li>
                    </ul>
            </div>
        </div>
    </div>
</section>


<br />



<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        Ne Düşünüyorsun?</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                            Kendimi geliştirmek ve hatalarımı düzeltmemde yardımcı olmak için benimle iletişim kur.
                        </p>
                        <a href="/contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Mesaj Gönder</a>
                </div>
            </div>
        </div>
    </div>
</section>

