
@{
    ViewData["Title"] = "Anasayfa";
}

<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>Merhaba, Ben Ahmet CAN & Ben bir,</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">PHP (LARAVEL)</b>
                                <b>C# (ASP.NET MVC CORE)</b>
                                <b>PYTHON</b>
                                <b>FLUTTER</b>
                            </span>
                            Geliştiricisiyim.
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        <i>Hayal edebilirseniz, gerçekleştirebilirsiniz.</i>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        Hakkımda
                    </h2>
                    <p>
                        Merhaba ben Ahmet CAN. Kayseri Erciyes Üniversitesi Bilgisayar Mühendisliği mezunuyum. Yeni şeyler  öğrenmeyi ve uygulamayı severim.
                        Teknolojiye dair haber ve eğitim vermek için açtığım bir blog sitem (<a href="https://www.teknokodi.com" target="_blank">Teknokodi</a>) ve bu blog sayfamızın adını 
                        taşıyan kodlama eğitimi vermeye çalıştığım bir <a href="https://www.youtube.com/channel/UC6ndYQW9mjsgOpz_hr95yEA" target="_blank">youtube</a> kanalım var. 
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="/images/about/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">İlgilendiğim Yazılım Dilleri</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Bu programlama dillerinde hem iş düzeyinde projeler gerçekleştirdim hem de kişisel projeler yaptım. <br />
                Ayrıca hala bu programlama dillerine çalışıp öğreniyor ve kendimi geliştirmeye çalşıyorum.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                Python
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=python" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="300ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                PHP (Laravel)
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=php" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="300ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                HTML
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=html" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="600ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                CSS
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=css" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="900ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                Javascript
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=javascript" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="1200ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                Dart
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=dart" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="1500ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                C# (ASP.NET)
                            </a>
                        </h4>
                        <p>
                            <a href="#" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        Ne Düşünüyorsun?</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                            Kendimi geliştirmek ve hatalarımı düzeltmemde yardımcı olmak için benimle iletişim kur.
                        </p>
                        <a href="Contact" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Mesaj Gönder</a>
                </div>
            </div>
        </div>
    </div>
</section>

