
@{
    ViewData["Title"] = "Anasayfa";
}

<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>Merhaba, Ben Ahmet CAN & Ben bir,</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">PHP (LARAVEL)</b>
                                <b>C# (ASP.NET MVC CORE)</b>
                                <b>PYTHON</b>
                                <b>FLUTTER</b>
                            </span>
                            Geliştiricisiyim.
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        <i>Hayal edebilirseniz, gerçekleştirebilirsiniz.</i>
                    </h2>
                    @*<a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="/#works" data-section="#works">View Works</a>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        Hakkımda
                    </h2>
                    <p>
                        Merhaba ben Ahmet CAN. Kayseri Erciyes Üniversitesi Bilgisayar Mühendisliği mezunuyum. Yeni şeyler  öğrenmeyi ve uygulamayı severim.
                        Teknolojiye dair haber ve eğitim vermek için açtığım bir blog sitem (<a href="https://www.teknokodi.com" target="_blank">Teknokodi</a>) ve bu blog sayfamızın adını 
                        taşıyan kodlama eğitimi vermeye çalıştığım bir <a href="https://www.youtube.com/channel/UC6ndYQW9mjsgOpz_hr95yEA" target="_blank">youtube</a> kanalım var. 
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="/images/about/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">İlgilendiğim Yazılım Dilleri</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Bu programlama dillerinde hem iş düzeyinde projeler gerçekleştirdim hem de kişisel projeler yaptım. <br />
                Ayrıca hala bu programlama dillerine çalışıp öğreniyor ve kendimi geliştirmeye çalşıyorum.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                Python
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=python" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="300ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                PHP (Laravel)
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=php" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="300ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                HTML
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=html" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="600ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                CSS
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=css" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="900ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                Javascript
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=javascript" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="1200ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                Dart
                            </a>
                        </h4>
                        <p>
                            <a href="https://github.com/cnahmetcn?tab=repositories&q=&type=&language=dart" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 col-xs-12">
                <figure class="wow fadeInLeft animated " data-wow-duration="500ms" data-wow-delay="1500ms">
                    <figcaption>
                        <h4>
                            <a href="/#">
                                C# (ASP.NET)
                            </a>
                        </h4>
                        <p>
                            <a href="#" target="_blank">
                                Github Projelerim
                            </a>
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Offer From Me</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,<br> quasi dolores numquam dolor vero ex, tempora commodi repellendus quod laborum.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-flask-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Well documented.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Well documented.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-americanfootball-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Free updates</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-keypad-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Solid Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Simple Installation</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        SO WHAT YOU THINK ?</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                        <a href="/contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                </div>
            </div>

        </div>
    </div>
</section>

